.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 100;
}
.addButton{
    border-radius: 50%;
}
.addOpen{
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px 4px white;
}
.taskRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}
.taskRow > div{
    margin-right: 1rem;
}
.taskRow > div:last-child{
    margin-right: 0;
}
.actionBtn{
    background-size: contain;
    background-repeat: no-repeat;
}
.accept{
    background-image: url('../../assets/icons/AcceptIcon.svg');
}
.cancel{
    background-image: url('../../assets/icons/CancelIcon.svg');
}