.buttonWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.buttonBase{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: url('../../assets/ButtonDifficult.svg');
   /* background: radial-gradient(#D9D9D9 0%, #e2dfdf 40%);*/
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*.buttonBase:hover > .center{
    width: 30px;
    height: 30px;
}*/
/*.buttonList{
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
}*/
.buttonList{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.center{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: .5s;
    box-shadow: 0 0 0px 1px rgba(0,0,0,.4);
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 1px 0
}
.easy{
    background-color: #54CA2A;
}
.medium{
    background-color: #D8D127;
}
.hard{
    background-color: #DE3535;
}