.create{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* padding: 50px 50px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}